.isee {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: .9rem;
}

.line {
    border: 2px solid black;
    padding-top: 1rem;
    border-radius: 10px;
}

.bold {
    font-weight: bold;
}

a {
    color: #6246ea;
    color: #e94e1b;
    color: #1eaedb;
    text-shadow: none;
    text-decoration: none;
    background-image: none;
}

a:hover {
    color: #f5487f;
    font-weight: 600;
}