




.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}
 .container > div { 
         display: flex;    
          justify-content: center;
    align-items: center;
    
}


.container > div > div { 
    display: flex;    
     justify-content: center;
align-items: center;
width: 100%;
height: 100%;

}

//  .container > div > img {
//     width: 100%;
//   height: 100%;
//    object-fit: fill;
//  }



.horizontal {

    grid-column: auto / span 2;

}

.vertical {


    grid-row: span 2;
}

.big {

}