@import "../styles/global.css";


.fademefam {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    h4 {
        margin-top: 0;
        padding: 7px;
        width: 100%;
        
    }
}

.header {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}
.title {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 1rem;
}

p {
    color: var(--bg)
}

h3, h1, h4 {
    color: var(--bg)
}

.lowmargin {
    margin-top: 0;
    //margin-bottom: 0;
    color: #f11c59;
}
.topmargin {
    margin-bottom: 0;
}

.container {
    max-width: 800px;
    margin: 1rem auto;
}

.pandafloat {
    display: flex;
    justify-content: end;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    bottom: 5px;
    padding-right: 1rem;
}

.crossline {
    position: relative;
    border-bottom: 2px solid var(--crossline);
    height: 150px;
    

}

.darkbutton {
    border-radius: 20px;
    box-shadow: none;
    color: yellow;
    font-size: 1rem;
    background-color: #181d22;
    border: none;
}

.lightbutton {
    border-radius: 20px;
    box-shadow: none;
    color: yellow;
    font-size: 1rem;
    background-color: #181d22;
    border: none;
}



.flexc {
    display: flex;
    flex: 1;
    max-width: 400px;
    min-width: 280px;
    
    border: 2px dashed #7e92a5;
    //background-color: aqua;
    margin: 5px;
    margin: 5px 5px;

    border-radius: 10px;
    a {
        //color: #6246ea;
        color: rgb(25, 206, 255);
        text-decoration: none;
        background-image: none;
        text-shadow: none;
        
    }

    a:hover {
        color: #f5487f;
        font-weight: 600;
    }


    
}


.miniflex {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    justify-content: center;
     *  {
        max-width: 500px;
        min-width: 280px;
        height: 100%;
        
        flex: 1;
        
        
    }
    h3, p {
        margin-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.linkc {
    //color:  #6246ea;
    color: #7554d9;
    text-decoration: none;
    a {
        //color:  #6246ea;
        color: rgb(25, 206, 255);
        text-decoration: none;
        background-image: none;
        text-shadow: none;
    }

    a:hover {
        color: #f5487f;
        font-weight: 600;
    }
}

// // .footer {
// //     text-align: center;
// //     color: #f4f4f4;
// //     background-color: #181d22;
// //     font-size: .8rem;
// //     padding: 1rem;
// // }

.footersticky {
     
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    
     
 }

.filler {
    position: relative;
    height: 200px;
    //background-image: linear-gradient(#84fab0, #8fd3f4);

    svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
      }
      
}

 .footer {
     text-align: center;
    color: #f4f4f4;
   background-color: #181d22;
    font-size: .8rem;
    padding: 1rem;
    
 }

 



 #gatsby {
     min-height: 100%;
 }
